.btnRight{
    float: right;
}
.txt-text{
    font-size: 25px;
    color:darkcyan;
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
}
.p{
    font-style: oblique;
}
.b{
    color: blue;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.button{
    width: 60%;
    border-radius: 10px;
}
.idlkh{
    color:steelblue;
}
.head-tr{
    background-color:darkturquoise;
}
.Note{
    width: 100px;
    height: 50px;
}