<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p class="txt-text">
                DANH MỤC LOẠI KHÁCH HÀNG
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            Tìm Kiếm
            <input class="button" type="search" name="TimKiem" placeholder="Mã/Tên loại khách hàng">
        </div>
        <div class="col-sm-4">
            Trạng Thái
            <select width="10%" class="select">
                <option value="Tất cả/Sử dụng/Ngưng" disabled>Tất cả/Sử dụng/Ngưng</option>
                <option>Tất cả</option>
                <option>Sử dụng</option>
                <option>Ngưng</option>
            </select>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary">Tìm Kiếm</button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Thêm Mới</button>
        </div>
    </div>
    <div>
        <hr class="style1">
        <table class="table table-bordered table-striped edit-table">
            <thead>
                <tr class="head-table">
                    <th colspan="10"></th>
                </tr>
                <tr class="head-tr">
                    <th>#</th>
                    <th>MÃ LKH</th>
                    <th>TÊN NHÓM KHÁCH HÀNG</th>
                    <th>GHI CHÚ</th>
                    <th>Sort</th>
                    <th> </th>
                </tr>
                <tr *ngFor="let word of arrCustomer">
                    <td>{{ word.id}}</td>
                    <td class="idlkh">{{word.IDLKH}}</td>
                    <td>{{word.TENLKH}}</td>
                    <td>{{word.GHICHU}}</td>
                    <td>
                        <button type="button" class="btn btn-primary">^</button>
                        <button type="button" class="btn btn-primary">v</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="updateList(word.id);">Eidt</button>
                        <button type="button" class="btn btn-success" (click)="deleteNew(word.id);">Delete</button>
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLongTitle">Thêm mới/Edit loại khách hàng</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item active">
                            Thêm mới/Edit loại khách hàng
                        </li>
                        <li class="list-group-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            Mã LKH
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <input id="idLKH" type="text" class="sw" [(ngModel)]="newIDLKH">
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            Tên loại khách hàng
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <input id="NameCustomer" type="text" class="sw" [(ngModel)]="newTENLKH">
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            Ghi Chú
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <textarea placeholder="Nội dung ghi chú" [(ngModel)]="newGHICHU"></textarea>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">

                                    </div>
                                    <div class="col">
                                        <p>
                                            <input type="checkbox"> Sử Dụng
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addCostumer();" data-dismiss="modal">Lưu &
                    Đóng</button>
                <button type="button" class="btn btn-primary" (click)="addCostumer();"> Lưu và Thêm Mới</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="exampleModalLongEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLongTitle">Thêm mới/Edit loại khách hàng</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item active">
                            Edit loại khách hàng
                        </li>
                        <li class="list-group-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            Mã LKH
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <input id="idLKH" type="text" class="sw" [(ngModel)]="newIDLKH">
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            Tên loại khách hàng
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <input id="NameCustomer" type="text" class="sw" [(ngModel)]="newTENLKH">
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            Ghi Chú
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <textarea placeholder="Nội dung ghi chú" [(ngModel)]="newGHICHU"></textarea>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">

                                    </div>
                                    <div class="col">
                                        <p>
                                            <input type="checkbox"> Sử Dụng
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  data-dismiss="modal">Lưu & Đóng</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>